@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
}

#device-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.device {
  border: 1px solid hsla(0, 0%, 20%);
  flex: 1;
  min-width: 49vw;
  display: flex;
  align-items: center;
}

.device > .text {
  flex: 1;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
  margin: 0 2vw;
}


#error-container {
  visibility: hidden;
  position: fixed;
  background: hsla(0, 0%, 20%, 0.7);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-panel {
  border-radius: 3vw;
  background: rgba(178, 34, 34, 0.7);
}

.error-panel > p {
  margin: 5vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  color: white;
}