#device-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.device {
  border: 1px solid hsla(0, 0%, 20%);
  flex: 1;
  min-width: 49vw;
  display: flex;
  align-items: center;
}

.device > .text {
  flex: 1;
  text-align: center;
}